--------------------
-- Email Accounts --
--------------------

accounts = {

  {
    name = "Catchall",
    server = "imap.myhost.com",
    username = "webmaster@mydomain.com",
    ssl = "tls1",
    password = "123456",
    clean = {
    	{
    		group = "priority",
    		mode = "direct"
    	}
    }
  },
  
  {
    name = "Personal",
    server = "imap.myhost.com",
    username = "me@mydomain.com",
    ssl = "tls1",
    password = "654321",
    clean = {
      {
        group = "family",
        mode = "direct"
      },
      {
        group = "friends",
        mode = "direct"
      },
      {
        group = "friends",
        mode = "indirect"
      },
      {
        group = "family",
        mode = "indirect",
        folder = "Saved/Friends"
      }
    },
    sweep = {
      destination = catchall
    }
  },
    
  }

}