---------------------
-- Email Addresses --
---------------------

contacts = {

  -- Family
  family = {
  	name = "Family"
  	consolidate = {
  		order = 1,
  		--[[
  			The email acccount that matching
  			messages should be moved to.
  		]]--
    	destination = personal,
    	--[[
    		Accounts to search while consolidating
    	]]--
    	check = {
    		catchall
    	}
    	--[[
    		Whether to flag these messages
    		(true) or not (false).
    		Defaults to false.
    	]]--
    	star = false
    },
    clean = {
    	--[[
    		The number of days that messages 
    		should be ignored before cleaning
    		them.
    		Defaults to 1.
    	]]--
    	days = 7,
    	--[[ 
    		Whether to clean messages that 
    		have been starred (true) 
    		or ignore them (false).
    		Defaults to false.
    	]]--
    	starred = false,
    	--[[
    		The folder that messages should 
    		be moved to
    	--]]
    	folder = "Family"
    },
    addresses = {
    	"mum@gmail.com",
    	"dad@yahoo.com",
    	"mysister.co.uk",
    	"brother@hotmail.co.uk"
  	}
  },
  
  -- Friends 
  friends = {
  	name = "Friends",
  	consolidate = {
  		order = 2,
  		destination = personal,
  		check = {
  			catchall
  		}
  	},
  	clean = {
      days = 7,
      starred = false,
      folder = "Friends"
  	},
  	addresses = {
    	"alice@gmail.com",
    	"bob@yahoo.com"
    }
  },
  
  -- Miscellaneous High Priority
  priority = {
    name = "Miscellaneous High Priority",
  	consolidate = {
  		order = 3,
  		destination = catchall,
  		star = true,
  		check = {
  			personal
  		}
  	},
  	clean = {
  	  days = 30,
      starred = false,
      folder = "365 days"
  	},
  	addresses = {
    	"lottery.com"
    }
  },
  
  -- Services
  services = {
    name = "Services",
    consolidate = {
    	order = 4,
      destination = catchall,
      check = {
      	personal
      }
    },
    clean = {
    	days = 30,
    	starred = false,
    	folder = "365 days"
    },
    filters = {
      {
        --[[
          Move likely receipts from suppliers
          into 30 days folder.
        ]]--
        name = "Receipts",
        folder = "30 days",
        keywords = {"receipt"}
      },
      {
        --[[
          Flag likely notices from suppliers
        ]]--
        name = "Notices",
        starred = true,
        keywords = {
          "remind",
          "renew",
          "invoice",
          "password"
		}
	  }
  	},
  	addresses = {
  		"amazon.co.uk",
  		"amazon.com",
  		"host.com"
  	}
  }
}