--------------------
-- Email Accounts --
--------------------

-- Properties of Email accounts
--[[
	Default custom settings:
	- stasis.folder = "Stasis"
	- stasis.threshold = 1000
	- stasis.restore = 500
	- junk.folder = "Junk"
	- trash.folder = "Deleted"
]]--
accounts = {

  {
    id = "ACC1",
    name = "Catchall",
    server = "imap.myhost.com",
    username = "webmaster@mydomain.com",
    ssl = "tls1",
    password = "123456",
    custom_settings = {
    	junk = {
          folder = "Spam"
    	}
    }
  },
  
  {
  	id = "ACC2",
    name = "Personal",
    server = "imap.myhost.com",
    username = "me@mydomain.com",
    ssl = "tls1",
    password = "654321",
    custom_settings = {
	    sweep = {
	      destination = catchall
	    },
		stasis = {
		  threshold = 50,
		  restore = 25
		},
        trash = {
          folder = "Trash"
        }
    }
  }

}