---------------------
-- Email Addresses --
---------------------

address_book = {}


address_book.keywords = {
  receipts = {
    "receipt",
    "order reference",
    "order number"
  },
  notices = {
    "bill",
    "collect", -- collection, collected
    "confirm",
    "deliver", -- delivered, delivery
    "despatch", "dispatch",
    "expir", -- expire, expiry
    "invit", -- invite, invitation
    "invoice",
    "payment",
    "password",
    "register",
    "registration",
    "remind",
    "renew", -- renewed, renewal
    "requir", -- require, required, requiring
    "ship", -- shipped, shipping
    "ticket",
  }
}


address_book.contacts = {

  -- Family
  family = {
  	name = "Family"
  	consolidate = {
  		order = 1,
  		--[[
  			The email acccount that matching
  			messages should be moved to.
  		]]--
    	destination = personal,
    	--[[
    		Accounts to search while consolidating
    	]]--
    	check = {
    		catchall
    	}
    	--[[
    		Whether to flag these messages
    		(true) or not (false).
    		Defaults to false.
    	]]--
    	star = false
    },
    clean = {
    	--[[
    		The number of days that messages 
    		should be ignored before cleaning
    		them.
    		Defaults to 1.
    	]]--
    	days = 7,
    	--[[ 
    		Whether to clean messages that 
    		have been starred (true) 
    		or ignore them (false).
    		Defaults to false.
    	]]--
    	starred = false,
    	--[[
    		The folder that messages should 
    		be moved to
    	--]]
    	folder = "Family"
    },
    from = {
    	"mum@gmail.com",
    	"dad@yahoo.com",
    	"mysister.co.uk",
    	"brother@hotmail.co.uk"
  	}
  },
  
  -- Friends 
  friends = {
  	name = "Friends",
  	consolidate = {
  		order = 2,
  		destination = personal,
  		check = {
  			catchall
  		}
  	},
  	clean = {
      days = 7,
      starred = false,
      folder = "Friends"
  	},
  	from = {
    	"alice@gmail.com",
    	"bob@yahoo.com"
    }
  },
  
  -- Miscellaneous High Priority
  priority = {
    name = "Miscellaneous High Priority",
  	consolidate = {
  		order = 3,
  		destination = catchall,
  		star = true,
  		check = {
  			personal
  		}
  	},
  	clean = {
  	  days = 30,
      starred = false,
      folder = "365 days"
  	},
  	from = {
    	"lottery.com"
    },
    to = {
    	"finance@mydomain.com"
    }
  },
  
  -- Services
  services = {
    name = "Services",
    consolidate = {
    	order = 4,
      destination = catchall,
      check = {
      	personal
      }
    },
    clean = {
    	days = 30,
    	starred = false,
    	folder = "365 days"
    },
    filters = {
      {
        --[[
          Move likely receipts from suppliers
          into 30 days folder.
        ]]--
        name = "Receipts",
        folder = "30 days",
        keywords = address_book.keywords.receipts
      },
      {
        --[[
          Flag likely notices from suppliers
        ]]--
        name = "Notices",
          star = true,
          keywords = address_book.keywords.notices
        },       
	  	}
  	},
  	from = {
  		"amazon.co.uk",
  		"amazon.com",
  		"host.com"
  	},
  	to = {
  		"shopping@mydomain.com"
  	}
  }
}