---------------------
-- Email Addresses --
---------------------

-- Properties relating to the address book
address_book = {}


-- Keyword lists that are used more than once
address_book.keywords = {
  
  receipts = {
    "receipt",
    "order reference",
    "order number"
  },
  
  notices = {
    "bill",
    "collect", -- collection, collected
    "confirm",
    "deliver", -- delivered, delivery
    "despatch", "dispatch",
    "expir", -- expire, expiry
    "invit", -- invite, invitation
    "invoice",
    "payment",
    "password",
    "register",
    "registration",
    "remind",
    "renew", -- renewed, renewal
    "requir", -- require, required, requiring
    "ship", -- shipped, shipping
    "ticket",
  }
  
}


-- Email lists that are used more than once.
address_book.contacts = {
	
	family = {
		"mum@gmail.com",
		"dad@yahoo.com",
		"mysister.co.uk",
		"brother@hotmail.co.uk"
	}
		
}

address_book.groups = {

  -- Family and friends
  personal = {
  	name = "Family and Friends"
  	consolidate = {
  	
  		-- This group's position in the queue of groups to be consolidated.
  		order = 1,

  		-- The email acccount that sessages should be moved to during the consolidation step.
    	destination = personal,

    	-- Accounts to search while consolidating
    	check = {
    		catchall
    	}

    },
    
    filters = {
    	
    	{
    		-- The name of this filter
    		name = "From family",
    		    	
			-- Whether to flag these messages as important (true) or not (false).
	    	-- Defaults to false.
	    	star = true,
	    	
	    	-- The folder to move messages from family to.
	    	folder = "Saved/Family",
	    	
	    	-- Apply this filter to messages that contain these strings in the from field.
	    	from = {
	    		address_book.contacts.family
	    	}
	    	
    	},
    	
    	{
    		-- The name of this filter
    		name = "From friends",
    		    	
			-- Whether to flag these messages as important (true) or not (false).
	    	-- Defaults to false.
	    	star = true,
	    	
	    	-- The folder to move messages from family to.
	    	folder = "Saved/Friends",
	    	
	    	-- Apply this filter to messages that contain these strings in the from field.
		  	from = {
		    	"alice@gmail.com",
		    	"bob@yahoo.com"
		    }
			    	
    	}
    
    }
    
  },
  
  
  
  -- Miscellaneous High Priority
  priority = {
    name = "Miscellaneous High Priority",
  	
  	consolidate = {
  		order = 3,
  		destination = catchall,
  		check = {
  			personal, 
  			business
  		}
  	},
  	
  	filters = {
  		{
  			star = true,
  			folder = "365 days",
  			from = {
		    	"lottery.com"
		    },
		    to = {
		    	"finance@mydomain.com"
		    }
		    
		    
		    clean = {
		    
		       	--[[
		    		The number of days that messages 
		    		should be ignored before cleaning
		    		them.
		    		Defaults to 1.
		    	]]--
		    	days = 30,
		    	
		    	--[[ 
		    		Whether to clean messages that 
		    		have been starred (true) 
		    		or ignore them (false).
		    		Defaults to false.
		    	]]--
		    	starred = false
		    }
  		}
  	
  	}
  	
  },
  
  -- Services
  services = {
    name = "Services",
    consolidate = {
    	order = 2,
      destination = catchall,
      check = {
      	personal
      }
    },
    
    filters = {
    
      --Likely receipts from suppliers.
      {    
        name = "Receipts",
        star = true,
        keywords = {
          address_book.keywords.receipts
        },        
        clean = {
          days = 1,
          starred = false,
          folder = "30 days"
        }
      },
      
      -- Likely notices from suppliers
      {
        name = "Notices",
        star = true,
        keywords = {
          address_book.keywords.notices
        },
        clean = {
          days = 1,
          starred = false,
          folder = "365 days"
        }
      }
  	},
  	
  	-- Email addresses for messages to apply these rules to
  	from = {
  		"amazon.co.uk",
  		"amazon.com",
  		"host.com"
  	},
  	
  	to = {
  		"shopping@mydomain.com"
  	}
  	
  }
}